################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Live2DManager/v16
/Debug
/Live2DManager/Debug
/Live2DManager/Cubism
